@charset "utf-8";
th[colspan] span {
    text-align: center;
    vertical-align: middle;
}
th[rowspan] span {
    text-align: center;
    vertical-align: middle;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
