@charset "utf-8";
table {
}
th {
    background-color: #FFCCCC;
    text-align: center;
    vertical-align: middle;
}
td {
    border: solid 1px #CCCCCC;
}
/*
th[colspan] span {
    text-align: center;
    vertical-align: middle;
}
th[rowspan] span {
    text-align: center;
    vertical-align: middle;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
*/
